@charset "utf-8";
/* Report Styler */

/* Import fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,800,700italic,700,800italic");


/* ===== HTML TAG PROPERTIES ===== */

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: #ad1d28;
}

/* ===== GLOBAL PROPERTIES ===== */

#GlobalNavTab {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	width: auto;
}

#GlobalMapIntro {
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	text-align: center;
	font-size: 24px;
	color: #666;
}

/* ===== GENRAL PROPERTIES ===== */

#homeBGImage {
  height: 1033px;
  display: block;
  position: relative;
}

#homeBGImage::after {
  content: "";
  background: url(imgs/uwlogo.png);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#homePageTitle {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	opacity: 1.0 !important;
}

#contributorReportBox {
	width: auto;
	padding: 15px;
	border: 5px;
	border-style: solid;
	border-color: #353436
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background-color: #EBEBEB;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
}

#contributorReportHeader {
	font-size: 35px;
	font-weight: bold;
}

#contributorReportContent {
	font-size: 20px;
	font-style: italic;
}

/* ===== MAP PROPERTIES ===== */

#CrimeMapHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: #ad1d28;
}

#CrimeMapIntroBox {
  width: auto;
  padding: 15px;
  border: 5px;
	border-style: solid;
	border-color: #ad1d28;
	background-color: #EBEBEB;
	margin-left: 100px;
	margin-right: 100px;
}

#EducationMapHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: #371177;
}

#EducationMapIntroBox {
  width: auto;
  padding: 15px;
  border: 5px;
	border-style: solid;
	border-color: #371177;
	background-color: #EBEBEB;
	margin-left: 100px;
	margin-right: 100px;
}

#IncomeMapHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: #1C7729;
}

#IncomeMapIntroBox {
  width: auto;
  padding: 15px;
  border: 5px;
	border-style: solid;
	border-color: #1C7729;
	background-color: #EBEBEB;
	margin-left: 100px;
	margin-right: 100px;
}
