@charset "utf-8";
/* Report Styler */

/* Import fonts from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,800,700italic,700,800italic);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);


/* ===== HTML TAG PROPERTIES ===== */

h1 {
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	color: #ad1d28;
}

img {
	max-width: 100%;
	max-height: 100%;
}

/* ===== GLOBAL PROPERTIES ===== */

#GlobalNavTab {
	font-family: 'Dosis', sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	width: auto;
}

#GlobalMapIntro {
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	text-align: center;
	font-size: 24px;
	color: #666;
}

/* ===== GENRAL PROPERTIES ===== */

#homeBGImage {
  height: 1033px;
  display: block;
  position: relative;
}

#homeBGImage::after {
  content: "";
  background: url(imgs/uwlogo_env.jpg);
	background-size: cover;
	border: 2px;
	border-color: #ffffff;
  opacity: 0.35;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#homePageTitle {
	font-family: 'Dosis', sans-serif;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	font-size: 60px;
	opacity: 1.0 !important;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: black;
}

#HomeContentBox {
	width: auto;
	padding: 15px;
	border: 2px;
	border-style: solid;
	border-color: #353436
	border-radius: 25px;
	background-color: rgba(235, 235, 235, .6);
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 25px;
	margin-bottom: 10px;
}

#HomeContentBox {
	font-size: 20px;
}

#HomeContentHeader {
	font-size: 35px;
	font-weight: bold;
}

#HomeContentText {
	font-family: 'Dosis', sans-serif;
}

/* ===== TAB PROPERTIES ===== */

#TabSectionHeader {
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	font-size: 50px;
	color: #000000;
	text-align: center;
	padding-bottom: 50px;
}

#TabIntroBox {
	width: auto;
	padding: 15px;
	border: 2px;
	border-style: solid;
	border-color: #353436
	border-radius: 25px;
	background-color: rgba(235, 235, 235, .6);
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 50px;
}
